<template>
  <div class="light-blue-bg py-10">
    <div class="text-center tracking-widest text-5xl text-gray-700">
      Deine Job website
    </div>
    <img src="~/assets/svg/undraw_agreement_aajr.svg" alt="">
  </div>
</template>

<script>
export default {
  name: "Header"
}
</script>

<style scoped>
  .light-blue-bg{
    background: transparent linear-gradient(141deg, #EBF4FF 0%, #E6FFFA 100%) 0% 0% no-repeat padding-box;
  }
</style>
