<template>
<div class="w-full flex justify-center flex-wrap">
  <div class="w-9/12 text-center text-xl text-gray-700">
    Drei einfache Schritte zur Vermittlung neuer Mitarbeiter
  </div>
  <div class="w-full flex">
    <div class="flex h-full big-number items-end font-serif text-gray-500 mt-9">
      1.
    </div>
    <div>
      <img class="w-56" src="~/assets/svg/undraw_Profile_data_re_v81r.svg" alt="">
      <div class="w-full mt-12 ml-6 text-center text-gray-400">
        Erstellen dein Unternehmensprofil
      </div>
    </div>
  </div>

  <div class="w-full flex flex-wrap light-blue-bg pb-10">
    <div class="flex">
      <div class="big-number text-gray-500 ml-10">
        2.
      </div>
      <div class="flex items-end text-gray-400 mb-12 ml-10">
        Erhalte Vermittlungs- angebot von Arbeitgeber
      </div>
    </div>
    <div class="w-full flex justify-center">
      <img src="~/assets/svg/undraw_job_offers_kw5d.svg" alt="">
    </div>
  </div>

  <div class="w-full flex flex-wrap pb-10">
    <div class="flex">
      <div class="big-number text-gray-500 ml-20">
        3.
      </div>
      <div class="w-3/6 flex flex-wrap items-center text-gray-400 ml-10">
        Vermittlung nach Provision oder Stundenlohn
      </div>
    </div>
    <div class="w-full flex justify-center">
      <img src="~/assets/svg/undraw_business_deal_cpi9.svg" alt="">
    </div>
  </div>

</div>

</template>

<script>
export default {
  name: "Tab3"
}
</script>

<style scoped>
  .big-number{
    font-size: 8rem;
  }

  .light-blue-bg{
    background: transparent linear-gradient(141deg, #EBF4FF 0%, #E6FFFA 100%) 0% 0% no-repeat padding-box;
    }
</style>
