<template>
  <div class="w-full fixed bottom-0 flex justify-center rounded-t-xl border-t-2 py-6 bg-white">
    <button
      class="
        w-11/12
        h-12
        bg-gradient-to-r
        from-green-600
        to-blue-500
        p-2
        text-white
        tracking-normal
        rounded-2xl"
      >
        Kostenlos Registrieren
      </button>
  </div>
</template>

<script>

export default {
  name: "Footer",
}
</script>
