<template>
  <div class="w-full fixed">
    <div class="w-full h-1.5 bg-gradient-to-r from-green-600 to-blue-400"></div>
    <nav class="rounded-b-xl shadow-xl bg-white">
      <ul class="flex justify-end">
        <li class="px-4 py-6 tracking-wide text-green-500 text-sm">
          <a href="#" class="hover:underline">Login</a>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
export default {
  name: "Navbar"
}
</script>
