<template>
  <div>
    <Navbar />
    <Content />
    <Footer />
  </div>
</template>

<script>
import Navbar from '~/components/Navbar.vue'
import Content from '~/components/content/Content.vue'
import Footer from '~/components/Footer.vue'

export default {
  name: "index",

  components: {
    Navbar,
    Content,
    Footer
  }
}
</script>
