<template>
  <div class="pt-16 pb-24">
    <Header />
    <div
      class="my-8 flex overflow-hidden"
      :class="selectedTab === 2 ? '-ml-32' : selectedTab === 3 ? '-ml-80' : 'ml-8'"
    >
      <div
        class="tab-item rounded-l-xl"
        :class="selectedTab === 1 ? 'active' : ''"
        @click="selectedTab = 1"
      >
        Arbeitnehmer
      </div>
      <div
        class="tab-item"
        :class="selectedTab === 2 ? 'active' : ''"
        @click="selectedTab = 2"
      >
        Arbeitgeber
      </div>
      <div
        class="tab-item rounded-r-xl"
        :class="selectedTab === 3 ? 'active' : ''"
        @click="selectedTab = 3"
      >
        Temporärbüro
      </div>
    </div>
    <Tab1 v-if="selectedTab === 1" />
    <Tab2 v-if="selectedTab === 2" />
    <Tab3 v-if="selectedTab === 3" />
  </div>
</template>

<script>
import Header from './components/Header.vue'
import Tab1 from './components/Tab1.vue'
import Tab2 from './components/Tab2.vue'
import Tab3 from './components/Tab3.vue'

export default {
  name: "Content",

  components: {
    Header,
    Tab1,
    Tab2,
    Tab3
  },

  data() {
    return {
      selectedTab: 1
    }
  },
}
</script>

<style scoped>
  .tab-item{
    @apply border-2 border-gray-300 py-2 px-16 text-green-500
  }

  .active{
    background: #81E6D9 0% 0% no-repeat padding-box;
    color: white;
    border: none;
  }
</style>
